{$DOMAIN:localhost:8000} {
	encode zstd gzip

	# /metrics — служебный эндпоинт для Prometheus
	handle /metrics {
		respond "not found" 404
	}

	handle {
		reverse_proxy billing:8000
	}
}

{$MEDIA_DOMAIN:localhost:8001} {
	encode zstd gzip

	# /metrics — служебный эндпоинт для Prometheus
	handle /metrics {
		respond "not found" 404
	}

	handle {
		reverse_proxy mediaworker:8001
	}
}
